* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    color: #333;
}



.header {
    background-color: black;
    color: grey;
    padding: 1rem 0 1rem 30px;
    text-align: left;
    font-size: 1.2rem;
    padding-left: 30px;
}
h1{
    font-size: 20px;
}

.container {
    max-width: 500px;
    margin: 2rem auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.todo-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 10px;
}

.input-group {
    display: flex;
    gap: 0.5rem;
    padding-left: 30px;
    align-items: center;
}


#todo-stats {
    border: 1px solid #888;   
    border-radius: 6px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #f9f9f9;
}


.input-group input {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
}


.input-group button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.todo-list {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
}


.todo-list:not(:empty) {
    border: 1px solid #888;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #888;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#todo-stats {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    align-self: center; 
}
.input-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


.todo-text.done {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 20px;
}
#todo-stats {
    border: 1px solid #888;
    border-radius: 6px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #f9f9f9;
    margin-left: 10px;
}

.stats {
    background: #f4f6ff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: #444;
    font-size: 14px;
}